.leftside, .rightside {
    height: 50vh;
    width: 100%;
}

@media screen and (min-width:768px)
{
    .leftside, .rightside {
        height: 100vh;
    }
}

.leftside {
    background: white;
}

.rightside {
    background: black;
}
/* .button {
    
        background-color: white; 
        color: black; 
       
      height: 50px;
      width: 75px;
    
} */

/* .btn {
    @include reset-button;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 16px 36px 22px;
    background-color: btn-background;
    color: btn-color;
    border: 2px solid border-color;
    border-radius: 6px;
    margin-bottom: 16px;
    transition: all .5s ease;
    bottom: 100px;
}
    
    &--stripe {
        overflow: hidden;
        position: relative;






         */

         
         .btn {
             position: relative;
             margin:-10% ;
             right: 27px;
             bottom: -40px;
             justify-content: center;
         }

         .btn1 {
            position: relative;
            margin:-10% ;
            right: 27px;
            bottom: -40px;
            justify-content: center;
        }
        li, a, button {
            font-family: 'Times New Roman', Times, serif;
            font-weight: 500;
            font-size: 16px;
            color: #edf0f1;
            text-decoration: none;
            display: flex;
        }
        

        .nav_links {
            list-style: none;
            font-family: Homicide;
            
        }
        
        .nav_links li {
            display: inline-block;
            padding: 0px 20px;
            border: solid #686868;
        }
        
        .nav_links li a {
            transition: all 0.3s ease 0s;
        }
        
        .nav_links li a:hover {
            color: #0088a9;
        
        }
        